:root {
    --color-header-start: #ff6200db;
    --color-header-end: #834104;
    --color-background-body: #f5f5f5;
    --color-main: #ffffff3f;
    --color-lyrics-link: #ffffff;
    --color-bottom-headar: #a8a8a8a6;
    --color-rodade: #504f4f1d;
    --color-rodade-shadow: #3333339f;
    --color-footer: #a8a8a8a6;
    --color-title-h3: #e75f03;
}